[Unit]
Description=Skener Webove Rozhrani
After=network.target

[Service]
ExecStart=/home/appuser/python/venv/bin/python /home/appuser/python/skener_web.py
WorkingDirectory=/home/appuser/python
StandardOutput=inherit
StandardError=inherit
Restart=always
User=appuser

[Install]
WantedBy=multi-user.target
